li.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  height: min-content;
  padding: 0.5rem;
}

img.post-img {
  max-height: 150px;
  max-width: 100%;
}

button.img-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

input.img-input {
  display: none;
}

span.post-title {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 500;
}

div.post-desc {
  margin: 0.2rem 0;
}

div.post-options {
  display: flex;
}

button.post-option {
  display: flex;
  background-color: #333;
  border-radius: 3px;
  border: none;
  padding: 0.2rem 0.4rem;
  margin: 0.2rem;
}

button.post-option > span {
  color: #fff;
}
