.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ddd;
  background-image: url('../../assets/undraw_web_developer_p3e5.svg'); /* https://undraw.co */
}

.content article {
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 500px;
}

.content article p {
  word-break: break-all;
}
