div.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

div.option-selection {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.direct-credentials {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.form-group {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 5px 10px;
}
